html, body, header {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: lightcyan;
}

body {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family:'Times New Roman', Times, serif;
  color: black;
}

p, input, li {
  font-family:'Times New Roman', Times, serif;
  color: black;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
  text-align: left;
}

h3 {
  font-size: 2.2rem;
  font-weight: normal;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: darkgray;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

main {
    width: 80%;
    margin: auto;
}

.img-text {
    display: flex;
    vertical-align: top;
    justify-content: space-between;
}

footer {
    background-color: darkgray;
    height: 100px;
}

footer p {
    text-align: right;
    position: relative;
    top:60px;
}